<!-- app/views/wiki_posts/edit.html.erb -->
<h1>Edit wiki post</h1>

<%= form_with model: @wiki_post, local: true do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit "Update" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to notes", wiki_posts_path %>
</div>

<%= button_to "Destroy this note", @wiki_post, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this wiki post?" } } %>
