<!-- app/views/wiki_posts/show.html.erb -->
<p style="color: green"><%= notice %></p>

<%= render @wiki_post %>

<h1><%= @wiki_post.title.titleize %></h1>
<% if @wiki_post.image.attached? %>
  <%= image_tag @wiki_post.image %>
<% end %>

<p>Created on <%= @wiki_post.created_at.strftime('%B %d, %Y') %></p>
<p>Description: <%= @wiki_post.description %></p>
<p>Author: <%= @wiki_post.author.present? ? @wiki_post.author.titleize : 'Unknown' %></p>

<div>
  <%= link_to "Edit this wiki post", edit_wiki_post_path(@wiki_post) %> |
  <%= link_to "Back to notes", wiki_posts_path %>

  <%= button_to "Delete", @wiki_post, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete #{@wiki_post.title}?" } } %>

  <%= button_to "Move to Trash", soft_delete_wiki_post_path(@wiki_post), method: :patch, form: { data: { turbo_confirm: "Are you sure you want to move #{@wiki_post.title} to the trash?" } } %>

  <%= button_to "Move to Trash", soft_delete_wiki_post_path(@wiki_post), method: :patch, form: { data: { turbo_confirm: "Are you sure you want to move #{@wiki_post.title} to the trash?" } } %>


  <%= button_to 'Move to Trash', soft_delete_wiki_post_path(@wiki_post), method: :patch, form: { data: { turbo_confirm: "Are you sure you want to move this post to the trash?" } } %>


</div>
